<h1>Editing Secundaria Caracteristica</h1>

<%= render 'form', secundaria_caracteristica: @secundaria_caracteristica %>

<%= link_to 'Show', @secundaria_caracteristica %> |
<%= link_to 'Back', secundaria_caracteristicas_path %>
