<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @secundaria_caracteristica.nome %>
</p>

<%= link_to 'Edit', edit_secundaria_caracteristica_path(@secundaria_caracteristica) %> |
<%= link_to 'Back', secundaria_caracteristicas_path %>
