<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @principal_fator.nome %>
</p>

<%= link_to 'Edit', edit_principal_fator_path(@principal_fator) %> |
<%= link_to 'Back', principal_fators_path %>
