<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @secundario_fator.nome %>
</p>

<%= link_to 'Edit', edit_secundario_fator_path(@secundario_fator) %> |
<%= link_to 'Back', secundario_fators_path %>
