<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @terciario_fator.nome %>
</p>

<%= link_to 'Edit', edit_terciario_fator_path(@terciario_fator) %> |
<%= link_to 'Back', terciario_fators_path %>
