<h1>Editing Terciaria Caracteristica</h1>

<%= render 'form', terciaria_caracteristica: @terciaria_caracteristica %>

<%= link_to 'Show', @terciaria_caracteristica %> |
<%= link_to 'Back', terciaria_caracteristicas_path %>
