<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @terciaria_caracteristica.nome %>
</p>

<%= link_to 'Edit', edit_terciaria_caracteristica_path(@terciaria_caracteristica) %> |
<%= link_to 'Back', terciaria_caracteristicas_path %>
