  <!-- Dropdown Trigger -->
  <a class='dropdown-trigger blue btn-large' href='#' data-target='LinksCaracteristicas'>Caracteristicas</a>

  <!-- Dropdown Structure -->
  <ul id='LinksCaracteristicas' class='dropdown-content'>
      
        <li><%= link_to "Caracteristicas  Principais",  principal_caracteristicas_path %></li>
        <li><%= link_to "Caracteristicas Secundarias",  secundaria_caracteristicas_path %></li>
        <li><%= link_to "Caracteristicas  Terciarias",  terciaria_caracteristicas_path %></li>
  </ul>