  <!-- Dropdown Trigger -->
  <a class='dropdown-trigger blue btn-large' href='#' data-target='LinksFatores'>Fatores</a>

  <!-- Dropdown Structure -->
  <ul id='LinksFatores' class='dropdown-content'>
      
        <li><%= link_to "Fatores Principais",  principal_fators_path %></li>
        <li><%= link_to "Fatores Secundarios",  secundario_fators_path %></li>
        <li><%= link_to "Fatores Terciarios",  terciario_fators_path %></li>
  </ul>